<nav class="sidenav shadow-right sidenav-light">
    <div class="sidenav-menu">
        <div class="nav accordion" id="accordionSidenav">
            <div class="sidenav-menu-heading">Core</div>
            <a class="nav-link{% if (app.request.pathInfo == path('index') or app.request.pathInfo == path('app_index')) %} active{% endif %}" href="{{ path('app_index') }}">
                <div class="nav-link-icon"><i class="fa-solid fa-house"></i></div>
                Start
            </a>

            {% set finance_invoices = ('/app/invoice' in app.request.pathInfo) %}
            {% set finance_documents = (finance_invoices) %}

            {% set finance_customers = ('/app/customer' in app.request.pathInfo) %}
            {% set finance_suppliers = ('/app/supplier' in app.request.pathInfo) %}
            {% set finance_contacts = (finance_customers or finance_suppliers) %}

            {% set finance_unpaid_customers = ('/app/analysis/liquidity/unpaid/customers' in app.request.pathInfo) %}
            {% set finance_liquidity = (finance_unpaid_customers) %}
            {% set finance_analysis = (finance_liquidity) %}

            <div class="sidenav-menu-heading">Finanzen</div>

            <a class="nav-link {% if finance_documents %}active{% else %}collapsed{% endif %}" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseFinanceDocuments" aria-expanded="false" aria-controls="collapseFinanceDocuments">
                <div class="nav-link-icon"><i class="fa-solid fa-file"></i></div>
                Dokumente
                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse{% if finance_documents %} show{% endif %}" id="collapseFinanceDocuments" data-bs-parent="#accordionSidenav">
                <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavFinanceDocumentsMenu">
                    <a class="nav-link{% if finance_invoices %} active{% endif %}" href="{{ path('app_invoice_index') }}">Rechnungen</a>
                </nav>
            </div>

            <a class="nav-link {% if finance_contacts %}active{% else %}collapsed{% endif %}" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseFinanceContacts" aria-expanded="false" aria-controls="collapseFinanceContacts">
                <div class="nav-link-icon"><i class="fa-solid fa-person"></i></div>
                Kontakte
                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse{% if finance_contacts %} show{% endif %}" id="collapseFinanceContacts" data-bs-parent="#accordionSidenav">
                <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavFinanceContactsMenu">
                    <a class="nav-link{% if finance_customers %} active{% endif %}" href="{{ path('app_customer_index') }}">Kunden</a>
                    <a class="nav-link{% if finance_suppliers %} active{% endif %}" href="{{ path('app_supplier_index') }}">Lieferanten</a>
                </nav>
            </div>

            <a class="nav-link {% if finance_analysis %}active{% else %}collapsed{% endif %}" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseFinanceAnalysis" aria-expanded="false" aria-controls="collapseFinanceAnalysis">
                <div class="nav-link-icon"><i class="fa-solid fa-chart-line"></i></div>
                Auswertungen
                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse{% if finance_analysis %} show{% endif %}" id="collapseFinanceAnalysis" data-bs-parent="#accordionSidenav">
                <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavFinanceAnalysisMenu">
                    <a class="nav-link {% if finance_liquidity %}active{% else %}collapsed{% endif %}" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#pagesCollapseFinanceAnalysisLiquidity" aria-expanded="false" aria-controls="pagesCollapseFinanceAnalysisLiquidity">
                        Liquidität
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse{% if finance_liquidity %} show{% endif %}" id="pagesCollapseFinanceAnalysisLiquidity" data-bs-parent="#accordionSidenavFinanceMenu">
                        <nav class="sidenav-menu-nested nav">
                            <a class="nav-link{% if finance_unpaid_customers %} active{% endif %}" href="{{ path('app_analysis_liquidity_unpaid_customers') }}">OP (Debitoren)</a>
                        </nav>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Sidenav Footer-->
    <div class="sidenav-footer">
        <div class="sidenav-footer-content">
            <div class="sidenav-footer-title">{{ app.user.firstName }} {{ app.user.lastName }}</div>
            {% if app.user.primaryPrincipal %}
                <div class="sidenav-footer-subtitle">{{ app.user.primaryPrincipal.name }}</div>
            {% endif %}
        </div>
    </div>
</nav>