{% extends 'app/layout/_layout.html.twig' %}

{% block title %}Rechnungen{% endblock %}

{% block breadcrumb1 %}Dokumente{% endblock %}
{% block breadcrumb2 %}{% endblock %}

{% macro sortArrow(sortName, sort, sortDirection) %}
    <!--suppress JSDeprecatedSymbols -->
    <span class="ms-1">
    {% if sort == sortName %}
        {% if sortDirection == 'ASC' %}
            <i class="fa-solid fa-sort-up"></i>
        {% else %}
            <i class="fa-solid fa-sort-down"></i>
        {% endif %}
    {% else %}
        <i class="fa-solid fa-sort"></i>
    {% endif %}
    </span>
{% endmacro %}

{% macro sortColumnHeader(sortName, sortNiceName, sort, sortDirection) %}
    <a href="{{ path('app_invoice_index', {
        sort: sortName,
        sortDirection: sort == sortName and sortDirection == 'ASC' ? 'DESC' : 'ASC',
    }) }}">
        {{ sortNiceName}} {{ _self.sortArrow(sortName, sort, sortDirection) }}
    </a>
{% endmacro %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span class="d-none d-lg-block">Alle Rechnungen und Korrekturbelege</span>
            <div class="d-flex">
                <form method="GET" action="{{ path('app_invoice_index') }}"
                      class="mb-0 d-flex"
                      data-controller="autosubmit"
                      data-turbo-frame="invoice-index">
                    <div class="btn-group me-2">
                        <button class="btn {% if activeFilters > 0 %}btn-primary{% else %}btn-outline-primary{% endif %} btn-sm" data-bs-toggle="modal" data-bs-target="#searchModal">
                            Filter{% if activeFilters > 0 %} ({{ activeFilters }}){% endif %}
                        </button>
                        {% if activeFilters > 0 %}
                            <a href="{{ path('app_invoice_index', { clear: true }) }}" class="btn btn-outline-dark btn-sm">
                                <i class="fa-solid fa-xmark"></i>
                            </a>
                        {% endif %}
                    </div>
                    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="searchModalLabel">Filter</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="queryPrincipalId" class="form-label">Mandant wählen</label>
                                        <select id="queryPrincipalId" class="form-select" name="queryPrincipalId" data-action="change->autosubmit#submitOnChange">
                                            <option value="">Alle Mandanten</option>
                                            {% for principal in allowedPrincipals %}
                                                <option value="{{ principal.id }}" {% if queryPrincipal == principal %}selected{% endif %}>
                                                    {{ principal }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="queryCustomerId" class="form-label">Kunde wählen</label>
                                        <select id="queryCustomerId" class="form-select" name="queryCustomerId" data-action="change->autosubmit#submitOnChange">
                                            <option value="">Alle Kunden</option>
                                            {% for customer in allowedCustomers %}
                                                <option value="{{ customer.id }}" {% if queryCustomer == customer %}selected{% endif %}>
                                                    {{ customer.principal }} » {{ customer }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="search" name="query" value="{{ query }}" placeholder="Suche" autocomplete="off"
                           class="form-control form-control-sm" style="width: 220px; flex-grow: 1;"
                           data-action="autosubmit#debouncedSubmit"
                    >
                </form>
            </div>
        </div>
        <turbo-frame data-turbo-action="advance" id="invoice-index">
            <div class="card-body">
                <div class="w-100 text-end mt-n2 mb-1">
                    <a class="btn btn- btn-primary" href="{{ path('app_invoice_new_basics') }}" target="_top"><i class="fas fa-plus me-1"></i> Neue Rechnung</a>
                </div>
                <div class="table-responsive-lg">
                    <table class="table table-hover" id="invoices">
                        <thead>
                            <tr>
                                <th class="text-nowrap">{{ _self.sortColumnHeader('date', 'Datum', sort, sortDirection) }}</th>
                                <th class="text-nowrap">{{ _self.sortColumnHeader('invoiceType', 'Typ', sort, sortDirection) }}</th>
                                <th class="text-nowrap">{{ _self.sortColumnHeader('number', 'Nummer', sort, sortDirection) }}</th>
                                <th class="text-nowrap">{{ _self.sortColumnHeader('hCustomerName', 'Kunde', sort, sortDirection) }}</th>
                                <th class="text-nowrap">{{ _self.sortColumnHeader('amountNet', 'Betrag', sort, sortDirection) }}</th>
                                <th>Zahlung</th>
                                <th class="text-nowrap d-none d-xxl-table-cell">{{ _self.sortColumnHeader('createdAt', 'Erstellung', sort, sortDirection) }}</th>
                                <th class="action-column"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for invoice in invoices %}
                            {% if invoice.number %}
                                {% set draft = false %}
                            {% else %}
                                {% set draft = true %}
                            {% endif %}
                            <tr onclick="window.location='{% if draft %}{{ path('app_invoice_new_basics', { 'id': invoice.id }) }}{% else %}{{ path('app_invoice_show', { 'id': invoice.id }) }}{% endif %}';" class="clickable">
                                <td>{{ invoice.date|date('d.m.Y') }}</td>
                                <td>{{ invoice.invoiceType.type }}</td>
                                <td>
                                    {% if draft %}
                                        <span class="badge text-bg-light">Entwurf</span>
                                    {% else %}
                                        {% if invoice.cancelled %}
                                            <del>{{ invoice.number }}</del>
                                            <span class="badge text-bg-info-soft">Storno</span>
                                        {% else %}
                                            {{ invoice.number }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('app_customer_edit', { id: invoice.customer.id }) }}" target="_top">
                                        <span class="{% if invoice.customerShortName %}d-none d-xxl-inline{% endif %}">{{ invoice.customerName }}</span>
                                        {% if invoice.customerShortName %}
                                            <span class="d-inline d-xxl-none">{{ invoice.customerShortName }}</span>
                                        {% endif %}
                                        <i class="fa-solid fa-arrow-up-right-from-square small ms-1 d-none d-xxl-inline"></i>
                                    </a>
                                </td>
                                <td>
                                    {% if draft == false %}
                                        {{ invoice.amountNetNice(true) }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if draft == false %}
                                        {{ invoice.paymentLabel|raw }}
                                    {% endif %}
                                </td>
                                <td class="d-none d-xxl-table-cell">{{ invoice.createdAt|date('d.m.Y') }}</td>
                                <td class="action-column">
                                    {% if draft %}
                                        <a href="{{ path('app_invoice_delete', { 'id': invoice.id, '_token': csrf_token('delete' ~ invoice.id) }) }}" target="_top"
                                           onclick="event.stopPropagation();return confirm('Soll dieser Beleg wirklich unwiderruflich gelöscht werden?');"
                                           class="text-primary">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>

                                        <a href="{{ path('app_invoice_new_basics', { 'id': invoice.id }) }}" target="_top"
                                           onclick="event.stopPropagation();"
                                           class="text-primary ms-1">
                                            <i class="fa-regular fa-square-caret-right"></i>
                                        </a>
                                    {% else %}
                                        <a href="/{{ invoice.storageFilename }}" target="_blank"
                                           onclick="event.stopPropagation();"
                                           data-controller="tooltip"
                                           data-action="mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip"
                                           data-tooltip-content="Vorschau"
                                           class="text-primary ms-1">
                                            <i class="fa-regular fa-eye"></i>
                                        </a>
                                        <a href="/{{ invoice.storageFilename }}" download="{{ invoice.niceFilename }}"
                                           onclick="event.stopPropagation();"
                                           data-controller="tooltip"
                                           data-action="mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip"
                                           data-tooltip-content="Herunterladen"
                                           class="text-primary ms-1">
                                            <i class="fa-solid fa-download"></i>
                                        </a>
                                        <a href="{{ path('app_invoice_show', { 'id': invoice.id }) }}" target="_top"
                                           onclick="event.stopPropagation();"
                                           data-controller="tooltip"
                                           data-action="mouseenter->tooltip#showTooltip mouseleave->tooltip#hideTooltip"
                                           data-tooltip-content="Beleg-Details"
                                           class="text-primary ms-1">
                                            <i class="fa-solid fa-circle-info"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="100%" class="text-muted text-center">
                                    Keine Einträge gefunden.
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex align-items-center gap-3">
                    {% if invoices.hasPreviousPage %}
                        <a href="{{ pagerfanta_page_url(invoices, invoices.previousPage) }}" class="btn btn-sm btn-primary">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                    {% endif %}
                    <div class="text-muted small">
                        Seite {{ invoices.currentPage }}/{{ invoices.nbPages }}
                    </div>
                    {% if invoices.hasNextPage %}
                        <a href="{{ pagerfanta_page_url(invoices, invoices.nextPage) }}" class="btn btn-sm btn-primary">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </turbo-frame>
    </div>
{% endblock %}