<div {{ attributes }}>

    <!--suppress HtmlUnknownAnchorTarget -->

    {{ form_start(form) }}

    <div class="row">
        <div class="col-xxl-9">
            <div id="default">
                <div class="card mb-4" id="sectionStammdaten">
                    <div class="card-header">Stammdaten</div>
                    <div class="card-body">
                        <fieldset class="border border-1 border-light mb-4 p-3">
                            <legend class="h6">Basisangaben</legend>
                            <div class="row g-3">
                                <div class="col-md-12">
                                    {{ form_widget(form.customerType) }}
                                </div>
                                <div class="col-md-8">
                                    {{ form_row(form.name) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.shortName) }}
                                </div>
                                <div class="col-md-8">
                                    {{ form_row(form.principal) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.ledgerAccountNumber) }}
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="border border-1 border-light mb-4 p-3">
                            <legend class="h6">Anschrift</legend>
                            <div class="row g-3">
                                <div class="col-md-12">
                                    {{ form_row(form.addressLine1) }}
                                </div>
                                <div class="col-md-12">
                                    {{ form_row(form.addressLine2) }}
                                </div>
                                <div class="col-md-12">
                                    {{ form_row(form.addressLine3) }}
                                </div>
                                <div class="col-md-12">
                                    {{ form_row(form.addressLine4) }}
                                </div>
                                <div class="col-md-12">
                                    {{ form_row(form.addressLineCountry) }}
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="border border-1 border-light mb-4 p-3">
                            <legend class="h6">Steuerliche Angaben</legend>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    {{ form_row(form.vatId) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.vatNumber) }}
                                </div>
                                <div class="col-md-12">
                                    {{ form_widget(form.vatExemptInvoicesAllowed) }}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="card mb-4" id="sectionRechnungsstandards">
                    <div class="card-header">Rechnungsstandards</div>
                    <div class="card-body">
                        <fieldset class="border border-1 border-light mb-4 p-3">
                            <legend class="h6">Standardwerte</legend>
                            <p>Diese Standardwerte können bei der Belegerstellung individuell überschrieben werden.</p>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    {{ form_row(form.currencyDefault) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.languageDefault) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.termOfPaymentDefault) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.accountingPlanLedgerDefault) }}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="border border-1 border-light mb-4 p-3">
                            <legend class="h6">Fusszeile</legend>
                            <p>Sofern die Beleg-Fusszeile speziell für diesen Kunden angepasst werden soll, kann sie hiermit überschrieben werden.</p>
                            <div class="row g-3">
                                <div class="col-md-4">
                                    {{ form_row(form.specialFooterColumn1) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.specialFooterColumn2) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.specialFooterColumn3) }}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="card mb-4" id="sectionCustomerInvoiceRecipients">
                    <div class="card-header">Rechnungsempfänger</div>
                    <div class="card-body">
                        <fieldset class="border border-1 border-light mb-4 p-3"
                                {{ stimulus_controller('form_customer_invoice_recipient_collection') }}
                                  data-form-customer-invoice-recipient-collection-index-value="{{ form.customerInvoiceRecipients|length > 0 ? form.customerInvoiceRecipients|last.vars.name + 1 : 0 }}"
                                  data-form-customer-invoice-recipient-collection-prototype-value="
<div class='row border-bottom' data-index='__name__'>
    <div class='col-6 py-1'>{{ form_widget(form.customerInvoiceRecipients.vars.prototype.name, {'attr': {'class': 'form-control-sm'}})|e('html_attr') }}</div>
    <div class='col-5 py-1'>{{ form_widget(form.customerInvoiceRecipients.vars.prototype.email, {'attr': {'class': 'form-control-sm'}})|e('html_attr') }}</div>
    <div class='col-1 d-flex align-items-center justify-content-end deleteCustomerInvoiceRecipientButtonHolder'></div>
</div>"
                        >
                            <legend class="h6">E-Mail-Empfänger</legend>
                            <div class="row border-bottom fw-bold">
                                <div class="col-6">Name</div>
                                <div class="col-5">E-Mail</div>
                                <div class="col-1 d-flex align-items-center justify-content-end" style="margin-top:-5px;">
                                    <button type="button"
                                            class="btn btn-success btn-xs"
                                            {{ stimulus_action('form_customer_invoice_recipient_collection', 'addCollectionElement') }}>
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div {{ stimulus_target('form_customer_invoice_recipient_collection', 'collectionContainer') }} id="customerInvoiceRecipientRows">
                                {% for customerInvoiceRecipient in form.customerInvoiceRecipients %}
                                    <div class="row border-bottom" data-index="{{ loop.index0 }}">
                                        <div class="col-6 py-1">{{ form_widget(customerInvoiceRecipient.name, {'attr': {'class': 'form-control-sm'}}) }}</div>
                                        <div class="col-5 py-1">{{ form_widget(customerInvoiceRecipient.email, {'attr': {'class': 'form-control-sm'}}) }}</div>
                                        <div class="col-1 d-flex align-items-center justify-content-end deleteCustomerInvoiceRecipientButtonHolder"></div>
                                    </div>
                                {% endfor %}
                            </div>
                            {% if form.customerInvoiceRecipients|length == 0 %}
                                {{ form_widget(form.customerInvoiceRecipients) }}
                            {% endif %}
                        </fieldset>
                    </div>
                </div>

                <div class="card mb-4" id="sectionZahlungsdaten">
                    <div class="card-header">Zahlungsdaten</div>
                    <div class="card-body">
                        <fieldset class="border border-1 border-light mb-4 p-3">
                            <legend class="h6">Kontoverbindung</legend>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    {{ form_row(form.bankAccountHolder) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.bankAccountBank) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.bankAccountIban) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.bankAccountBic) }}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="border border-1 border-light mb-4 p-3">
                            <legend class="h6">Lastschriftmandat</legend>
                            <div class="row g-3">
                                <div class="col-md-8">
                                    {{ form_row(form.bankDirectAuthorizationNumber) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_row(form.bankDirectAuthorizationDate) }}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="card mb-4" id="sectionTags">
                    <div class="card-header">Tags</div>
                    <div class="card-body">
                        <div {{ stimulus_controller('form_tag_collection') }}
                                data-form-tag-collection-index-value="{{ form.tags|length > 0 ? form.tags|last.vars.name + 1 : 0 }}"
                                data-form-tag-collection-prototype-value="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}"
                                class="row"
                        >
                            <div class="col-11">
                                <div {{ stimulus_target('form_tag_collection', 'collectionContainer') }} class="tags">
                                    {% for tag in form.tags %}
                                        <div class="btn-group mb-1">
                                            <div class="btn btn-outline-primary btn-sm">{{ tag.vars.value }}</div>
                                            <div class="d-none">{{ form_widget(tag.name) }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-1 d-flex align-items-center justify-content-end">
                                <button class="btn btn-sm btn-success ms-1" type="button" {{ stimulus_action('form_tag_collection', 'addCollectionElement') }}><i class="fa-solid fa-plus"></i></button>
                            </div>
                        </div>

                        {% if form.tags|length == 0 %}
                            {{ form_widget(form.tags) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3">
            <!-- Large Screens -->
            <div class="nav-sticky d-none d-xxl-block">
                <div class="btn-group d-flex" role="group">
                    <a class="btn btn-outline-primary w-100" href="javascript:history.back()">
                        <i class="fa-solid fa-chevron-left me-1"></i> Zurück
                    </a>
                    {{ form_widget(form.submitXXL, {'attr': {'class': 'btn btn-primary w-100'}}) }}
                </div>
                {% if form.vars.data.id|default %}
                    <a class="btn btn-light mt-3 w-100" href="{{ path('app_customer_delete', {
                        'id': form.vars.data.id,
                        '_token': csrf_token('delete' ~ form.vars.data.id)
                    }) }}" onclick="return confirm('Soll dieser Kunde wirklich gelöscht werden? Dieser Schritt kann nicht rückgängig gemacht werden.');">
                        <i class="fa-solid fa-trash me-1"></i> Löschen
                    </a>
                {% endif %}
                <div class="card mt-3">
                    <div class="card-body">
                        <ul class="nav flex-column" id="stickyNav">
                            <li class="nav-item"><a class="nav-link" href="#sectionStammdaten">Stammdaten</a></li>
                            <li class="nav-item"><a class="nav-link" href="#sectionRechnungsstandards">Rechnungsstandards</a></li>
                            <li class="nav-item"><a class="nav-link" href="#sectionCustomerInvoiceRecipients">Rechnungsempfänger</a></li>
                            <li class="nav-item"><a class="nav-link" href="#sectionZahlungsdaten">Zahlungsdaten</a></li>
                            <li class="nav-item"><a class="nav-link" href="#sectionTags">Tags</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Other Screens -->
            <div class="d-xxl-none">
                <div class="text-center mt-5">
                    <a class="btn btn-outline-primary" href="javascript:history.back()">
                        <i class="fa-solid fa-chevron-left me-1"></i> Zurück
                    </a>
                    {% if form.vars.data.id|default %}
                        <a class="btn btn-outline-primary" href="{{ path('app_customer_delete', {
                            'id': form.vars.data.id,
                            '_token': csrf_token('delete' ~ form.vars.data.id)
                        }) }}" onclick="return confirm('Soll dieser Kunde wirklich gelöscht werden? Dieser Schritt kann nicht rückgängig gemacht werden.');">
                            <i class="fa-solid fa-trash me-1"></i> Löschen
                        </a>
                    {% endif %}
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            </div>
        </div>
    </div>

    {{ form_widget(form) }}

    {{ form_end(form) }}

</div>