<div {{ attributes }}>

    {{ form_start(form) }}

    <div class="step step-primary mb-5">
        <div class="step-item active">
            <div class="step-item-link">
                Grundlagen
            </div>
        </div>
        <div class="step-item">
            <div class="step-item-link">
                Positionen
            </div>
        </div>
        <div class="step-item disabled">
            <div class="step-item-link">
                Abschliessen
            </div>
        </div>
    </div>

    <div class="row">

        <!-- FORM -->
        <div class="col-xxl-9">

            <!-- RECHNUNGSSTELLER & -EMPFÄNGER -->
            <div class="row">
                <div class="col-lg">
                    <div class="card">
                        <div class="card-header">Rechnungssteller</div>
                        <div class="card-body">
                            <div class="mb-3">
                                {{ form_row(form.principal) }}
                            </div>
                            {% if form.accountingPlanLedger is defined %}
                            <div class="mb-3">
                                {{ form_row(form.accountingPlanLedger) }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg mt-3 mt-lg-0">
                    <div class="card">
                        <div class="card-header">Rechnungsempfänger</div>
                        <div class="card-body">
                            {% if form.customer is defined %}
                                <div class="mb-3">
                                    {{ form_row(form.customer) }}
                                </div>
                            {% endif %}
                            {% if form.language is defined %}
                                <div class="mb-3">
                                    {{ form_row(form.language) }}
                                </div>
                            {% endif %}
                            <div class="row mb-3">
                                <div class="col">
                                    {{ form_row(form.costcenterExternal) }}
                                </div>
                                <div class="col">
                                    {{ form_row(form.referenceExternal) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- RECHNUNGSKOPF -->
            <div class="row mt-3">
                <div class="col">
                    <div class="card">
                        <div class="card-header">Rechnungskopf</div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col">
                                    {{ form_widget(form.invoiceType) }}
                                </div>
                                <div class="col">
                                    {{ form_row(form.date) }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    {{ form_row(form.periodFrom) }}
                                </div>
                                <div class="col">
                                    {{ form_row(form.periodTo) }}
                                </div>
                            </div>
                            <div class="mb-0">
                                {{ form_row(form.introText) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- RECHNUNGSSTAMM -->
            <div class="row mt-3">
                <div class="col">
                    <div class="card">
                        <div class="card-header">Rechnungsstamm</div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col">
                                    <fieldset>
                                        <legend class="col-form-label required">Währung <span class="text-danger">*</span></legend>
                                        {{ form_widget(form.currency) }}
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row mb-n2">
                                <div class="col-lg mb-3 mb-lg-0">
                                    <fieldset>
                                        <legend class="col-form-label required">MwSt-Satz <span class="text-danger">*</span></legend>
                                        {{ form_widget(form.vatType) }}
                                    </fieldset>
                                </div>
                                <div class="col-lg">
                                    <fieldset>
                                        <legend class="col-form-label required">MwSt-Art <span class="text-danger">*</span></legend>
                                        {{ form_widget(form.vatRate) }}
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- RECHNUNGSFUSS -->
            <div class="row mt-3">
                <div class="col">
                    <div class="card">
                        <div class="card-header">Rechnungsfuss</div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col">
                                    {{ form_row(form.outroText) }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    {{ form_row(form.termOfPayment) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- ACTIONS -->
        <div class="col-xxl-3">
            <!-- Large Screens -->
            <div class="nav-sticky d-none d-xxl-block">
                <div class="btn-group d-flex" role="group">
                    <a class="btn btn-outline-primary w-100" href="{{ path('app_invoice_index', { ...app.request.query.all() }) }}">
                        <i class="fa-solid fa-chevron-left me-1"></i> Abbrechen
                    </a>
                    <button class="btn btn-primary w-100">
                        <i class="fa-solid fa-chevron-right me-1"></i> Weiter
                    </button>
                </div>
            </div>
            <!-- Other Screens -->
            <div class="d-xxl-none">
                <div class="text-center mt-5">
                    <a class="btn btn-outline-primary" href="{{ path('app_invoice_index', { ...app.request.query.all() }) }}">
                        <i class="fa-solid fa-chevron-left me-1"></i> Abbrechen
                    </a>
                    <button class="btn btn-primary">
                        <i class="fa-solid fa-chevron-right me-1"></i> Weiter
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="d-none">
        {{ form_row(form.invoiceReference) }}
    </div>

    {{ form_end(form) }}

</div>