{% macro sortArrow(sortName, sort, sortDirection) %}
    <span class="ms-1">
    {% if sort == sortName %}
        {% if sortDirection == 'ASC' %}
            <i class="fa-solid fa-sort-up"></i>
        {% else %}
            <i class="fa-solid fa-sort-down"></i>
        {% endif %}
    {% else %}
        <i class="fa-solid fa-sort"></i>
    {% endif %}
    </span>
{% endmacro %}

{% macro sortColumnHeader(sortName, sortNiceName, sort, sortDirection) %}
    <a href="{{ path('app_analysis_liquidity_unpaid_customers', {
        sort: sortName,
        sortDirection: sort == sortName and sortDirection == 'ASC' ? 'DESC' : 'ASC',
    }) }}">
        {{ sortNiceName}} {{ _self.sortArrow(sortName, sort, sortDirection) }}
    </a>
{% endmacro %}

<turbo-frame data-turbo-action="advance" id="invoice-unpaid">
    <div class="card-body">
        <div class="table-responsive-lg">
            <table class="table table-hover mb-1" id="invoices-unpaid">
                <thead>
                <tr>
                    {% if is_granted('ROLE_SUPERADMIN') %}<th class="id-column"></th>{% endif %}
                    <th class="text-nowrap">{{ _self.sortColumnHeader('date', 'Datum', sort, sortDirection) }}</th>
                    <th class="text-nowrap">{{ _self.sortColumnHeader('number', 'Beleg', sort, sortDirection) }}</th>
                    <th class="text-nowrap">{{ _self.sortColumnHeader('hCustomerName', 'Kunde', sort, sortDirection) }}</th>
                    <th class="text-nowrap d-none d-xxl-table-cell">{{ _self.sortColumnHeader('periodFrom', 'Leistung', sort, sortDirection) }}</th>
                    <th class="text-nowrap">{{ _self.sortColumnHeader('amountGross', 'Offener Betrag', sort, sortDirection) }}</th>
                    <th class="text-nowrap">{{ _self.sortColumnHeader('due', 'Fälligkeit', sort, sortDirection) }}</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for invoice in rows %}
                    <tr>
                        {% if is_granted('ROLE_SUPERADMIN') %}<td class="id-column">#{{ invoice.id }}</td>{% endif %}
                        <td>{{ invoice.date|date('d.m.Y') }}</td>
                        <td>
                            <a href="{{ path('app_invoice_show', { 'id': invoice.id }) }}" target="_top">
                                {{ invoice.invoiceType.type }} {{ invoice.number }}
                                <i class="fa-solid fa-arrow-up-right-from-square small ms-1 d-none d-xxl-inline"></i>

                            </a>
                        </td>
                        <td>
                            <a href="{{ path('app_customer_edit', { id: invoice.customer.id }) }}" target="_top">
                                <span class="{% if invoice.customerShortName %}d-none d-xxl-inline{% endif %}">{{ invoice.customerName }}</span>
                                {% if invoice.customerShortName %}
                                    <span class="d-inline d-xxl-none">{{ invoice.customerShortName }}</span>
                                {% endif %}
                                <i class="fa-solid fa-arrow-up-right-from-square small ms-1 d-none d-xxl-inline"></i>
                            </a>
                        </td>
                        <td class="d-none d-xxl-table-cell">
                            {{ invoice.periodFrom|date('d.m.Y') }}
                            {% if invoice.periodFrom != invoice.periodTo %}
                                <br> &dash; {{ invoice.periodTo|date('d.m.Y') }}
                            {% endif %}
                        </td>
                        <td>{{ invoice.amountDueNice(true) }}</td>
                        <td>{{ invoice.due|date('d.m.Y') }}</td>
                        <td>{{ invoice.paymentLabel|raw }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="100%" class="text-muted text-center">
                            Keine Einträge gefunden.
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</turbo-frame>